<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mwong56.polyrides"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

  <permission android:protectionLevel="signature"
              android:name="com.mwong56.polyrides.C2D_MESSAGE" />
  <uses-permission android:name="com.mwong56.polyrides.C2D_MESSAGE" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:name=".application.PolyRidesApp"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDPJT0KIoQPM5ctM5PtJm0dE9604d2RmTA"/>

    <activity
        android:name=".activities.LoginActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".activities.MainActivity"
        android:label="@string/app_name">
    </activity>

    <activity
        android:name=".activities.NewRideActivity"
        android:label="@string/title_activity_new_ride">
    </activity>
    <activity
        android:name=".activities.FindRideActivity"
        android:label="@string/title_activity_find_ride">
    </activity>

    <service android:name="com.parse.PushService" />
    <receiver android:name="com.parse.ParsePushBroadcastReceiver"
              android:exported="false">
      <intent-filter>
        <action android:name="com.parse.push.intent.RECEIVE" />
        <action android:name="com.parse.push.intent.DELETE" />
        <action android:name="com.parse.push.intent.OPEN" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.parse.GcmBroadcastReceiver"
              android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

        <category android:name="com.mwong56.polyrides" />
      </intent-filter>
    </receiver>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDPJT0KIoQPM5ctM5PtJm0dE9604d2RmTA"/>
  </application>

</manifest>
